To meet requirements the following eigenvalues were chose:

\begin{enumerate}
\PYTHON{ for eig in eigs }
\item $\PY{eig | imaginary}$
\PYTHON{ endfor }
\end{enumerate}

These eigenvalues were then use to create a feedback matrix of:
\begin{equation}
k = \PY{ k | bmatrix }
\end{equation}

This produced a reeponse which can be seen below in \autoref{fig:feedback}

\image{\PY{graph}}{Feedback}{fig:feedback}
