The observer was chosen to have eigenvalues that are observer VAR{ scale | round_float } further away than the
controller eigenvalues listed above in the previous step. This resulted in eigenvalues of:

\begin{enumerate}
BLOCK{ for eig in eigs }
\item $ VAR{ eig | imaginary }$
BLOCK{ endfor }
\end{enumerate}

The L matrix was determined from $L_0 = VAR{ l0 | bmatrix }$ which resulted in:

\begin{equation}
L = VAR{ L | bmatrix }
\end{equation}

This produces a response which can be seen below in \autoref{fig:observer} below.

\image{VAR{graph}}{Observer}{fig:observer}

