The observer was chosen to have eigenvalues that are observer \PY{ scale | round_float } further away than the
controller eigenvalues listed above in the previous step. This resulted in eigenvalues of:

\begin{enumerate}
\PYTHON{ for eig in eigs }
\item $ \PY{ eig | imaginary }$
\PYTHON{ endfor }
\end{enumerate}

The L matrix was determined from $L_0 = \PY{ l0 | bmatrix }$ which resulted in:

\begin{equation}
L = \PY{ L | bmatrix }
\end{equation}

This produces a response which can be seen below in \autoref{fig:observer} below.

\image{\PY{graph}}{Observer}{fig:observer}

