The input values for the controller were:

\begin{tabular}{c|c}
$k_0$ & $ \PY{ k0 | bmatrix } $\\
$F$ & $\PY{ f | bmatrix }$
\end{tabular}

This produces a k of:
\begin{equation}
\PY{ k | bmatrix } 
\end{equation}

A simulation with the feedback is shown below in \autoref{fig:3-2}

\image{\PY{graph}}{System 3 with feedback}{fig:3-2}
