The input values for the controller were:

\begin{tabular}{c|c}
$k_0$ & $ VAR{ k0 | bmatrix } $\\
$F$ & $VAR{ f | bmatrix }$
\end{tabular}

This produces a k of:
\begin{equation}
VAR{ k | bmatrix } 
\end{equation}

A simulation with the feedback is shown below in \autoref{fig:3-2}

\image{VAR{graph}}{System 3 with feedback}{fig:3-2}
