For the system described by:
\PY{system | formatSystem}

The following variables were used to generate the observer:

along with $R = \PY{R | bmatrix}$ and $Q = \PY{Q | bmatrix}$ set to

This produced $k = \PY{k | bmatrix}$

The following is the output of the LQR of the system, This also assumes the input is the unit step
function.
\image{\PY{image_path}}{LQR System}{fig:two_one}
