For the system described by:
\PY{system | formatSystem}

The following variables were used to generate the observer:

\begin{tabular}{r|l}
$L_0$ & $\PY{L0 | bmatrix}$ \\
$F$ & $\PY{F | bmatrix}$
\end{tabular}

With these values, the following outputs were calculated:


\begin{tabular}{r|l}
$T$ & $\PY{T | bmatrix}$ \\
$L$ & $\PY{L | bmatrix}$
\end{tabular}

The following is the output of the LQR of the system, This also assumes the inputs are the unit step
function with an initial estimate of the state of: $x_{e0} = \PY{x_e_0 | bmatrix}$
\image{ \PY{image_path}}{LQR System}{fig:two_two}
