For the system described by:
VAR{system | formatSystem}

The following variables were used to generate the observer:

along with $R = VAR{R | bmatrix}$ and $Q = VAR{Q | bmatrix}$ set to

This produced $k = VAR{k | bmatrix}$

The following is the output of the LQR of the system, This also assumes the input is the unit step
function.
\image{VAR{image_path}}{LQR System}{fig:two_one}
